.page-container {
    // temp
    background: $background_color_dark;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    // temp
    background: $background_color_med;

    max-width: $max-width;
    width: 100%;
}

button {
    color: black;
}