$max-width: 1280px;

$background_color_dark: #0d1117;
$background_color_med: #161b22;
$background_color_light: #484f58;
$border_color: #30363d;
$text_color: #f5f5f5;

$test-border: solid 2px $border_color;