<header class="header">
    <!-- Left Justified Header Section -->
    <div class="header-site-nav">
        <div class="site-icon-container">
            <img class="site-icon" src="assets\images\plant_icon.png">
        </div>
        <div>Services</div>
        <div>About</div>
    </div>

    <!-- Right Justified Header Section -->
    <div class="header-user-nav">
        <!-- Displayed for unauthenticated users -->
        <div class="user-nav">
            <div>Searchbar</div>
            <div>Login</div>
            <div>Register</div>
        </div>

        <!-- Displayed for authenticated users -->
        <!--div class="user-nav">
            <div>Notifications</div>
            <div>Create</div>
            <div>Profile</div>
        </div-->
    </div>
</header>
